{% extends "navbar_Template.html" %}
{% block head_content_1 %}
	<title>Login</title>
	<style>
        body{
            background-image: none;
            background-color: white;
            margin: 100px;
        }
    </style>
{% endblock head_content_1 %}
{% block content_1 %}
	  <h2>Login</h2>
	  <form method="post">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button type="submit">Login</button>
	  </form><br>
	  
	  <p><strong>-- OR --</strong></p>
	  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock content_1 %}